/* GLOBAL CSS */

*{
    margin:0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
}
h4,h5{
    font-size: 1.6rem;
}

li{
    font-size: 2rem;
}


/* HEADER */
.main-head{
    background-color: #f98808;
    background-image: linear-gradient(62deg, #f98808 0%, #F7CE68 100%);
    
    color: #ffffff;
}

.container1 {
    display: flex;
    align-items: center;
    align-content: center;
  }
  
.title {
    font-size: 4rem;
    font-family: 'Arial', Times, serif;
    padding-left: 45%;
    padding-top: 10%;
  }

.main-head a{
    color: #ffffff;
    text-decoration: none;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

nav ul{
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-direction: column;
}



.searchbar {
    margin-left: 25%;
}
.searchbar img{
    vertical-align: middle;
    width: 25px;
    height:25px;
}
.searchbar input{
    height: 30px;
    width: 75%;
    border-radius: 7px;
}
.searchbar button{
    height: 40px;
    width: 50px;
    border-radius: 2dpx;
    background-color: transparent;
}

#logo{
    display: flex;
    flex: 4 1 40rem;
    padding-left: 3rem;
}

.header img{
    float: left;
    width: 100px;
    height: 100px;
}

img{
    width: 200px;
    height: 200px;
    border-radius:5px;
}


.left-region{
 width:20%;
}
.right-region{
  width:80%;
}
	

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 32px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.box{
    grid-column: span 1;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    font-size: 100%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-color: rgb(199, 199, 199);
}
.box h2{
    width: 300px;
    height: 50px;
}

h1 {
    font-size: 4rem;
    font-family: 'Arial Black', serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}


/*----- Formulaires ----*/
.formulaire{
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    font-size: 20px;

    background-color: #F7CE68;
    border-color: #2b2b2b;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;

}

.container {
    display: flex;
  }
  
  .column {
    width: 50%;
  }

.formulaire input{
    border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  
  margin: auto;
  margin-bottom: 10px;

}

.gender{
    display: flex;
    justify-content: center;
    margin: 0 120px;
}

.column0 {
    margin: auto;
  }
.column1 {
    margin: auto;
}



