/* GLOBAL CSS */

*{
    margin:0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
}
h4,h5{
    font-size: 1.6rem;
}

li{
    font-size: 2rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}
/* HEADER */
.main-head{
    background: #FFCB77;
    color: #ffffff;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo{
    display: flex;
    flex: 4 1 40rem;
    padding-left: 3rem;
}

.header img{
    float: left;
  width: 100px;
  height: 100px;
}

img{
    width: 250px;
    height: 250px;
    border-radius:8px;
}
.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    font-size: 150%;
    align-self: center;
    justify-self: center;
    background-color: #ebe9e9;

}

.searchbar{
    background: #FFCB77;
    text-align: center;   
}
.searchbar img{
    vertical-align: middle;
    background: #FFCB77;
    width: 30px;
    height:30px;
}
.searchbar input{
    vertical-align: middle;
    margin: 10px;
    height: 30px;
    width: 300px;
    border-radius: 7px;
}

